<html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <body>
    <div class="w3-sidebar w3-bar-block">
      <h3
        style="
          font-weight: bold;
          color: #2d2727;
          font-size: 26px;
          margin-top: 20px;
        "
        class="w3-bar-item"
      >
        Categories
      </h3>
      {% for category in site.categories %}

      <li class="list-group-item pl-3">
        <a
          name="{{ category | first | capitalize }}"
          href="{{ site.url }}{{ site.baseurl }}/categories/{{ category | first }}/"
          class="category"
        >
          {{ category | first | capitalize }}
        </a>
      </li>

      {% endfor %}
    </div>
  </body>
</html>
